<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Shadows+Into+Light&family=Caveat&family=Walter+Turncoat&display=swap" rel="stylesheet">
    <title>Student Manager App</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="title">
        <h2>Student Management System</h2>
    </div>
    <div class="container" id="content">
        
        <button id="Open_Add_Modal_btn">
            <span class="icon">+</span>
            <span class="text">Add New Student</span>
        </button>


        
            


    <div id="students_list_view">
    <ul>
    <% StudentList.forEach(student => { %>
        <li>
            <div id="student_bar">
                <p>Name: <%=student.Name%></p>
                <p>Age: <%=student.Age%></p>
                
                <button class="open-update-modal-btn" 
                        data-id="<%= student._id %>" 
                        data-name="<%= student.Name %>" 
                        data-age="<%= student.Age %>">
                    <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                    </svg></span>
                    <span class="text">Update</span>
                </button>

                <a id="delete_btn" class="open-delete-modal-btn" href="/delete/<%=student._id%>?_method=delete" method="POST">
                    <span class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16"> 
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/> 
                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/> 
                        </svg>
                    </span>
                    <span class="text">Delete</span>
                </a>
                
            </div>
        </li>
        <p class="separator">------------------------------------------------</p>
    <% }) %> 
    </ul>
</div>

<div class="modal" id="Shared_Update_Modal">
    <div>
        <span class="close_btn" id="close_update_btn">&times;</span>
        <form id="Shared_Update_Form" class="Student_Form" method="POST">
            <input type="text" id="update_name_input" name="Name" required>

            <input type="number" id="update_age_input" name="Age" required>
            <button type="submit" id="Submit_Updated_std" class="Submit_btns">Save Changes</button>
        </form>
    </div>
</div>
    
    <div>

    </div>

    <!-- Add student Modal -->
        <div class="modal" id="Add_Student_Modal">
            
            <div>
                <span id="close_btn" class="close_btn">&times;</span>
                <form id="Student_Form" class="Student_Form" action="/create" method="POST">
                    <input type="text" name="Name" placeholder="Enter the Name of student">

                    <input type="number" name="Age" placeholder="Enter the Age of student">
                    <input type="submit" id="Submit_Added_std" class="Submit_btns" value="Add">
                </form>
            </div>
        </div>
    
    <script src="script.js"></script>
</body>
</html>